.header {
  grid-column: 1/3;
  &-promo {
    height: 148px;
    &__item_schedule{
      width: 247px;
      height: 75px;
    }
  }
}
.about {
  width: 205px;
  height: 92px;
  align-items: center;
  &__block {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    & span {
      font-weight: 600;
      line-height: 22px;
    }
  }
}

.price{
  position: relative;
  padding-left: 60px;
  &__link{
      border-bottom: 4px $btn-green dotted;
  }
  &:before{
    content: "Pdf";
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transform:translateY(-50%);
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 43px;
    letter-spacing: 0.04em;
    color: $btn-green;

  }
}
.nav {
  padding-right: 25px;
  margin-bottom: 37px;
  height: 22px;
  width: 100%;
}
.nav-menu {
  margin-right: 30px;
  &__item {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 500;
    &:first-child {
      margin-right: 20px;
    }
  }
}

.chats{
  width: 160px;
  height: 75px;
  &__label{
    width: 127px;
    padding-left: 15px;
    position: relative;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.02em;
    & span{
      font-weight: 700;
    }
    &:before {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100%;
      background-color: $btn-green;
    }
  }
  &__wrapper{
    width: 100%;
  }
  &__img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &__messenger{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    text-align: center;
    align-content: center;
    &_viber{
      background-color: $btn-viber;
    }
    &_whatsup{
      background-color: $btn-whatsup;
    }
    &_telegram{
      background-color: $btn-telegram;
    }
  }
}

.schedule{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  &__span{
    font-weight: 700;
  }
}
.phone{
  font-weight: 600;
  letter-spacing: 0.04em;
  &__link{
    color: $btn-green;
  }
}