@mixin pimp($color){
  @extend %button;
  background-color: $color;
  &:hover{
    @if($color == $btn-green){
      background-color: $btn-green-hover;
    } @else {
      background-color: $btn-orange-hover;
    }
  }
  &:before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background:url("../assets/img/btn_arrow.svg") center center/cover no-repeat;
  }
}