%button{
  position: relative;
  padding: 28px 75px 28px 47px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: background-color .6s ease-in-out;
}